html,
body {
	padding: 0;
	margin: 0;
}

* {
	position: relative;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

.container {
	margin: auto;
	max-width: 600px;
}

// Header
.tittle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;

	h1 {
		margin: 0;
		font-size: 2.5em;
	}

	/* h1:after {
			position: absolute;
			content: "";
			top: 15px;
			left: 0;
			right: 0;
			z-index: -1;
			height: 100%;
			width: 100%;
			transform: scale(0.9) translateZ(0);
			filter: blur(15px);
			background: linear-gradient(
				to left, #ff5770, #e4428d, #c42da8, #9e16c3,
				#6501de, #9e16c3, #c42da8, #e4428d, #ff5770);

			background-size: 200% 200%;
			animation: animateGlow 1.25s linear infinite;
		}

		@keyframes animateGlow {
			0% {
				background-position: 0% 50%;
			}

			100% {
				background-position: 200% 50%;
			}
		} */
}

// Form
.form {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;


	.input {
		flex-grow: 1;
		margin-right: 20px;
		height: 32px;
		list-style: none;
		background: #FFFFFF;
		border: 1px solid #C2C2C2;
		border-radius: 4px;
	}

	.btn__form {
		padding: 10px 20px;
		width: 170px;
		height: 32px;
		cursor: pointer;
		border: 0;
		color: #eee;
		background: #5E47D2;
		border-radius: 4px;

		&:hover {
			background: #694DF9;
		}

		&:focus {
			background: #5E47D2;
			box-shadow: 0 0 0 2px #E2DCFF;
		}

		&:disabled {
			background: #F5F5F5;
			color: #C2C2C2;
		}
	}
}

// Active task and done
.sectionActive {
	margin-top: 40px;
	border: 2px;

	h3 {
		position: relative;
		margin: 0;
		margin-bottom: 15px;
		font-size: 1.25em;
	}
}

.sectionDone {
	margin-top: 40px;

	h3 {
		position: relative;
		margin: 0;
		margin-bottom: 15px;
		font-size: 1.25em;
	}

}

.task__list {
	.task {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		font-size: 0.9em;
		user-select: none;
		background-color: #917fec;

		+ .task {
			margin-top: 5px;
		}

		&.done {
			color: #757575;
			background-color: #C2C2C2;
		}

		&__inner {
			display: flex;
			align-items: center;
			padding: 10px;
			cursor: pointer;
		}

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;

			+span {
				display: block;
				margin-right: 10px;
				height: 20px;
				width: 20px;
				background-color: #eee;

			}

			&:hover+span {
				background-color: rgb(223, 221, 221);
			}

			&:checked+span {
				background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" %3F%3E%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M18.71,7.21a1,1,0,0,0-1.42,0L9.84,14.67,6.71,11.53A1,1,0,1,0,5.29,13l3.84,3.84a1,1,0,0,0,1.42,0l8.16-8.16A1,1,0,0,0,18.71,7.21Z" fill="%236563ff"/%3E%3C/svg%3E');
				background-position: center;
				background-size: 30px 30px;
			}
		}

		&__delete {
			.btn {
				padding: 10px;
				border: none;
				background: 0;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}