section.section
	.container
		.section__name
			h3 Active
		form.task__list(action="#")
			input#task(type="checkbox", name="")
			input#task(type="checkbox", name="")
			input#task(type="checkbox", name="")
			input#task(type="checkbox", name="")
			input#task(type="checkbox", name="")